<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
<p>Here, the leaderboard is displayed, in a loop.</p>
<p>Then there is a button that allows the game to be played.</p>
<p>Which is a POST to /play giving the file results.html.</p>
<p>Demo below:</p>

<h2>Leaderboard</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ringo</td>
            <td>42</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>john</td>
            <td>5</td>
            <td>1</td>
        </tr>
    </tbody>
</table>

<form action="#" th:action="@{/play}" method="post">
    <button type="submit">Play</button>
</form>

</body>
</html>