<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Play</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="container is-max-desktop">
            <!-- Page Heading -->
            <h1 class="title" th:text="${game}"></h1>

            <!-- Information about Implementation -->
<!--            <div class="box">-->
<!--                <p>Here, the leaderboard is displayed, in a loop.</p>-->
<!--                <p>Then there is a button that allows the game to be played.</p>-->
<!--                <p>Which is a POST to /play giving the file results.html.</p>-->
<!--                <p>Demo below:</p>-->
<!--            </div>-->
            
            <!-- Leaderboard -->
            <h2 class="subtitle leader">Leaderboard</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="match : ${leaderboard}">
                        <tr>
                            <td th:text="${#ids.seq('')}">...</td>
                            <td th:text="${match.getUser().getUsername()}">...</td>
                            <td th:text="${match.getScore()}">...</td>
                            <td th:text="${match.getUser().getLevel()}">...</td>
                        </tr>
                    </th:block>
                </tbody>
            </table>

            <!-- Play Button -->
            <form th:action="@{/play}" method="post">
                <button class="button" type="submit">Play</button>
            </form>
        </div>  
    </body>
</html>